<header class="intro-header header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>vs3kulic blog</h1>
                        <hr class="small">
                        <span class="subheading">Handcrafted in 2015</span>
                    </div>
                </div>
            </div>
        </div>
</header>

<!--header class="intro-header header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My Awesome Blog</h1>
                        <hr class="small">
                        <span class="subheading">Handcrafted in 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header-->

                

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="large">


                <h1 align="center">Hi, welcome to my blog.</h1> <br>

                <body> 

                This is a blog written in Ruby on Rails. On a Mac. With the Sublime2 editor. Repository on GitHub. Deployment via Codeship. Servers at Heroku. Layout with bootstrap. Login with Devise. Domain from GoDaddy. Use VS Code. <br><br>
                
                </body>

                </div>

            </div>
        </div>
    </div>

    <!--div class="about-pic">
            <img src="/assets/buffer_me.jpg" width:"40" height: "40" />
    </div-->

    <!--p> <%= link_to("About us", about_path) %> | <%= link_to("Contact us", contact_path, :target => "_blank") %> | <%= link_to("Go create", posts_path, :target => "_blank") %> </p-->

    <hr>

</div>