<header class="intro-header header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>My Awesome Blog</h1>
                        <hr class="small">
                        <span class="subheading">Handcrafted in 2015</span>
                    </div>
                </div>
            </div>
        </div>
</header>

<!--header class="intro-header header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My Awesome Blog</h1>
                        <hr class="small">
                        <span class="subheading">Handcrafted in 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header-->

<h1 align="center">Hi, welcome Home.</h1> <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <div class="large">

                This is a blog written in Ruby on Rails. On a Mac. With the Sublime2 editor. Repository on GitHub. Deployment via Codeship. Servers at Heroku. Domain from GoDaddy. <br><br>
                Diese Webapp ist entstanden, um ihrem Erbauer ein tieferes Verständnis für das 'full stack' zu geben. Besonderen Dank an: <br><br>
                
                <li>Codingfounders.com</li>
                <li>Stackoverflow.com</li>
                <li>Buffer, Codeship und Anyline</li>

                <br>

                Meine Freundin war mir bei diesem Projekt, so wie auch sonst im Leben, die größte Hilfe. Ohne sie hätte ich nie den Mut gefunden, aus dem alten Trott auszubrechen und etwas neues zu probieren. Danke, I.
                
                <br><br>
                
                </div>

            </div>
        </div>
    </div>

    <hr>

<!--p>Did we miss something that you really, like, urgently need? Do not fret, just write a mail to <a href="http://www.gmail.com" target="_blank"> sekulicvajo@gmail.com </a> and we'll make sure to come up with a witty reply.</p>


<p> <%= link_to("About us", about_path) %> | <%= link_to("Contact us", contact_path, :target => "_blank") %> | <%= link_to("Go create", posts_path, :target => "_blank") %> </p-->

</div>