<header class="intro-header header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>My Awesome Blog</h1>
                        <hr class="small">
                        <span class="subheading">Handcrafted in 2015</span>
                    </div>
                </div>
            </div>
        </div>
</header>

<!--header class="intro-header header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My Awesome Blog</h1>
                        <hr class="small">
                        <span class="subheading">Handcrafted in 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header-->

<h1 align="center">Hi, welcome Home.</h1> <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <div class="large">

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?<br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus:<br><br>
                
                <li>one</li>
                <li>two</li>
                <li>three</li>

                <br>

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum molestiae debitis nobis, quod sapiente qui voluptatum, placeat magni repudiandae accusantium fugit quas labore non rerum possimus, corrupti enim modi! Et.
                
                <br><br>
                
                </div>

            </div>
        </div>
    </div>

    <hr>

<!--p>Did we miss something that you really, like, urgently need? Do not fret, just write a mail to <a href="http://www.gmail.com" target="_blank"> sekulicvajo@gmail.com </a> and we'll make sure to come up with a witty reply.</p>


<p> <%= link_to("About us", about_path) %> | <%= link_to("Contact us", contact_path, :target => "_blank") %> | <%= link_to("Go create", posts_path, :target => "_blank") %> </p-->

</div>