<h1>Just go ahead and contact us. <%= link_to("Or head to our blog >", posts_path, :target => "_blank") %> </h1>

<p>Phone: +43 676 561 9000 | Mail: <a href="https://mail.google.com" target="_blank">sekulicvajo@gmail.com</a> | Twitter: @vs3kulic </p> 

<!-- <p> My name is <%= @Felix%> </p> -->
