<header class="intro-header header3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Contact me.</h1>
                        <hr class="small">
                        <span class="subheading">Yes, really, I mean it.</span>
                    </div>
                </div>
            </div>
        </div>
</header>

     

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="large">

                <h1> Go ahead and call me or write a mail. <br> <%= link_to("Or head to my blog >", posts_path) %> </h1> <br>

                 <body> 
                  
                        Phone: +43 676 561 9000 | Mail: sekulicvajo@gmail.com 
                    
                </body>

                </div>

            </div>
        </div>
</div>
