<h1>Just go ahead and contact us.</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>Phone: +43 676 561 9000</p>

<p>Mail: <a href="https://mail.google.com" target="_blank">sekulicvajo@gmail.com</a></p> 

<!-- <p> My name is <%= @Felix%> </p> -->
