<header class="intro-header header3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>My Awesome Blog</h1>
                        <hr class="small">
                        <span class="subheading">Handcrafted in 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<h1>Just go ahead and contact us. <%= link_to("Or head to our blog >", posts_path, :target => "_blank") %> </h1>

<p>Phone: +43 676 561 9000 | Mail: <a href="https://mail.google.com" target="_blank">sekulicvajo@gmail.com</a> | Twitter: @vs3kulic </p> 

<!-- <p> My name is <%= @Felix%> </p> -->
