<h1>This is the Post Index.</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<p>The index shows the posts as of today.</p>

<% @posts.each do  |post| %>

	<div class='panel'> 

		<h2> <%= link_to post.title, post_path(post) %> </h2>
		<!--p> <%= post.body %> </p-->

	</div>
	 
<% end %>

