<h1>Write. <%= link_to '< Back', posts_path %> </h1>
<!--p>Find me in app/views/posts/new.html.erb</p>-->
<h2>Maybe this post will change your life.</h2>
<p>Go ahead. You never know.</p>


<%= render 'form' %>

