.background_picture {
	width: 480px;
	height: 480px;
	background-image: image-url("technical_image.jpg");
}

.inline_picture1 {
	width: 480px;
	height: 480px;
}

.panel {

	background-color: lightgrey;
	padding: 15px 10px;
	margin: 10px;
	border-radius: 5px;

}